{% extends 'WobbleCodeControlUserInterfaceBundle::layout.html.twig' %}

{% block content %}
    <ul>
        <li>{{ event }}</li>
        <li>{{ notification.title }}</li>
        <li>{{ notification.description }}</li>
    </ul>
{% endblock %}
