{% extends 'WobbleCodeNotificationBundle::layout.html.twig' %}

{% block app_content_title %}Default notification Index{% endblock %}

{% block app_content_content %}
  <p class="lead">
    Default index for Notification
  </p>
{% endblock %}
